project_id           = "your-gcp-project-id"
region               = "us-central1"
zone                 = "us-central1-a"
machine_type         = "e2-medium"
lf_training_username = "lf-training-username"
lf_training_password = "lf-training-password"
